* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Background Image */
.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(25, 26, 26, 0.966)), url(../images/background.png);
    background-position: center; 
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 250px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fac000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa {
    display: none;
}
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}
/*----Count Down---*/
.clock {
    margin: 100px auto;
    width: 75%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/banner1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    text-align: center;
    padding: 100px 0;
}
.clock h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.clock p{
    color: #fff;
    font-size: larger;
}

/*----about us----*/
.aboutus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.hero-button3 {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(3, 3, 3);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-button3:hover {
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;
}
b {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.a{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
ul.a {
    list-style-position: inside;
}
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*-----City Commissions----*/

.citycommissions {
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px ;
}
.commissions-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.commissions-col img {
    width: 100%;
}
.hero-btn2 {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(3, 3, 3);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn2:hover {
    border: 1px solid #ff0000;
    background: #ff0000;
    transition: 1s;
}

/*----Festivals----*/
.festivals {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.festivals-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.festivals-col img{
    width: 100%;
    border-radius: 10px;
}

/*------Slide Show--------*/
.myslides{
    width: 100%;
}

/*----Donate Now----*/
.donate {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/banner1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.donate h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*----About Us Page-----*/
.header2 {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(25, 26, 26, 0.966)), url(../images/aboutuspage.jpg);
    background-position: center; 
    background-size: cover;
    position: relative;
}